# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Environments
.venv/
venv/
ENV/
env/

# Media files (các tệp do người dùng upload không nên đẩy lên git)
media/attachments/
media/avatars/

# IDE / Editors
.vscode/
.idea/
*.swp
